<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Freelancer - Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/style.css" rel="stylesheet" />
</head>
   <style>
 
    body{
        background: rgb(245,245,245);
    }
</style>
<body id="page-top">

   <!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/logo-contraloria.png" alt="Bootstrap" width="60" height="54">
            CONTRALORIA
        </a>

        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#portfolio">Nosotros</a></li>

                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#about">About</a></li>

                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#noticias">Noticias</a></li>

                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#events">Cumpleañeros</a></li>

                <li class="nav-item dropdown mt-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Más</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/aac">Atencion al ciudadano</a></li>
                        <li><a class="dropdown-item" href="/galerys">Glaeria de usuarios</a></li>
                        <li><a class="dropdown-item" href="/galery">Galeria de fotografias</a></li>
                        <!-- Agrega las siguientes líneas solo si el usuario es admin -->
                        {{#if admin}}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">Agregar usuario</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#staticBackdropImages">Agregar fotografias</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/cerrar">Cerrar sesión</a></li>
                        {{/if}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <!-- Header-->
    <header class="bg-dark py-5" style="
        background-image: url('/img/bg2.jpg');
        background-size: cover; 
        background-position: center;">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Un ejemplo de texto para completar campos de el
                            sitio web</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Otro ejemplo para mostrar subtextos para ver los
                            cmapos completos con textos y otras cosas ...</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center mt-5">
                   <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid rounded-3 my-5"
                        src="/img/bg.jpg" alt="...">
    </div>
    <div class="carousel-item">
      <img class="img-fluid rounded-3 my-5"
                        src="/img/servicie-2.jpg" alt="...">
    </div>
    <div class="carousel-item">
      <img class="img-fluid rounded-3 my-5"
                        src="/img/bg(3).jpg" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            </div>
        </div>
    </header>


    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h3 class="page-section-heading text-center text-uppercase text-success mb-0">Contraloria general del estado
                Portuguesa</h3>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa-solid fa-bookmark"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Misión</h3>
                        <br>
                        <p>
                            Ejercer el control fiscal externo a los recursos de la administración
                            pública estadal, así como la asistencia técnica a las comunidades en
                            el ejercicio del control social, con el propósito de garantizar la eficacia,
                            eficiencia y transparencia de la gestión pública para lograr la satisfacción
                            de las necesidades de la comunidad portugueseña.
                        </p>
                    </div>
                    <div class="col-md-4" style=" 
                        background-image: url('/img/liena.png');
                        background-size: cover; 
                        background-position: center;"></div>
                    <div class="col-md-4">
                        <h3>Visión</h3>
                        <br>
                        <p>
                            Ejercer el control fiscal externo a los recursos de la administración
                            pública estadal, así como la asistencia técnica a las comunidades en
                            el ejercicio del control social, con el propósito de garantizar la eficacia,
                            eficiencia y transparencia de la gestión pública para lograr la satisfacción
                            de las necesidades de la comunidad portugueseña.
                        </p>
                    </div>
                </div>

            </div>
    </section>

    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Contralorias del Estado Portuguesa
            </h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa-regular fa-image"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-2">
                    <div class="text-center">
                        <h1 class="fw-bolder">ANIVERSARIOS
                            {{#if admin}}
                            <a><i class="fa-solid fa-calendar-plus text-dark" data-bs-toggle="modal" data-bs-target="#staticBackdropImages"></i></a>
                            {{/if}}
                        </h1>
                        <p class="lead fw-normal text-dark mb-0 mb-5">Company portfolio</p>
                    </div>
                    <div class="row gx-5 imageContainer">
                        {{#if admin}}
                        {{#each imagenes}}
                        <div class="col-lg-6 images " data-id="{{this.id}}">
                            <a class="btn-close p-3 btn-close-img" style="cursor: pointer;"></a>
                            <div class="position-relative mb-5">
                                <img class="img-fluid  mb-3 images-home rounded"
                                    src="data:image/jpeg;base64,{{this.imagen_base64}}" alt="imagen"/>
                                <p class="h3 fw-bolder text-decoration-none link-dark stretched-link">Project name</p>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        {{#each imagenes}}
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid  mb-3 images-home rounded"
                                    src="data:image/jpeg;base64,{{this.imagen_base64}}" alt="imagen"  />
                                <p class="h3 fw-bolder text-decoration-none link-dark stretched-link">Project name</p>
                            </div>
                        </div>

                        {{/each}}
                        {{/if}}
                        <div class="mt-5 p-5 bg-secondary rounded">
                            <h4 class="text-center"><a href="/galery" class="text-success"
                                    style="text-decoration: none;">Ver mas...</a></h4>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>


    {{!-- noticias --}}
    <section class="" id="noticias">
        <h1 class="text-center mt-5 mb-5">NOTICIAS {{#if admin}}<a data-bs-toggle="modal" data-bs-target="#staticBackdropNoticies" ><i
                    class="fa-solid fa-calendar-plus text-dark"></i></a> {{/if}}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-regular fa-newspaper"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="p-5 row">
            <div class="col-md-8 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="border-top-left-radius: 5px;
                           border-bottom-left-radius: 5px;">
               <div class="container noticiasContainer">
                {{#if admin}}
                {{#each noticias}}
                    <a class="btn-close p-5"></a>
                 <h5 class="text-center">{{tituloOne}} </h5>
                <p class="p-4">{{descripOne}} 
                </p>

               </div>
            </div>
            <div class="col-md-4 shadow p-3 mb-5 bg-dark" style="border-top-right-radius: 5px;
                           border-bottom-right-radius: 5px;">
               <div class="container">
       
                <a class="btn-close p-5"></a>
                 <h5 class="text-center text-light">{{tituloTwe}}</h5>
               
                <p class="p-4 text-light ">{{descripTwe}}</p>
                {{/each}}

                {{else}}
                {{#each noticias}}
        
                 <h5 class="text-center">{{tituloOne}} </h5>
                <p class="p-4">{{descripOne}} 
                </p>

               </div>
            </div>
            <div class="col-md-4 shadow p-3 mb-5 bg-dark" style="border-top-right-radius: 5px;
                           border-bottom-right-radius: 5px;">
               <div class="container">
       

                 <h5 class="text-center text-light">{{tituloTwe}}</h5>
               
                <p class="p-4 text-light ">{{descripTwe}}</p>
                {{/each}}
                {{/if}}
               </div>

            </div>
        </div>
    </section>

    <!-- Evenst-->
    <section class="testimonials text-center bg-light container mt-5 mb-5 p-5" id="events">
    <!-- section images -->
    <div class="container">
        <h2 class="mb-2">CUMPLEAÑEROS DEL MES {{#if admin}}<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i
                    class="fa-solid fa-calendar-plus text-dark"></i></a> {{/if}}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark mb-5">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-cake-candles"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row cumpleContainer"> <!-- Utiliza una clase en lugar de id -->
            {{#if admin}}
            {{#each users}}
            <div class="col-lg-4 user-cumple" data-id="{{this.id}}">
                <a class=" btn-close p-3 btn-close-user" style="cursor: pointer;"></a>

                <div class="testimonial-item mx-auto mb-5 mb-lg-0">

                    <img class="img-fluid rounded-circle mb-3" width="210"
                        src="data:image/jpeg;base64,{{imagen_base64}}" alt="imagen"/>
                    <h5>{{nombre}}</h5>
                    <p class="font-weight-light mb-0">"{{descripcion}}"</p>
                </div>
            </div>
            {{/each}}
            {{else}}
            {{#each users}}
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">

                    <img class="img-fluid rounded-circle mb-3" width="210"
                        src="data:image/jpeg;base64,{{imagen_base64}}" alt="imagen" />
                    <h5>{{nombre}}</h5>
                    <p class="font-weight-light mb-0">"{{descripcion}}"</p>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="mt-5 p-5 bg-secondary rounded">
        <h4><a href="/galerys" class="text-center text-success" style="text-decoration: none;">Ver mas...</a>
        </h4>
    </div>
    </section>


    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4"><a style="text-decoration: none;" href="https://maps.app.goo.gl/2RW2Rskv8Y5sZuo86">Nuestra ubicación</a></h4>
                    <p class="lead mb-0">
                      Contraloría Del Estado Portuguesa
                        <br />
                        Carrera 5, Guanare Estado Portuguesa
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4 text-primary">Nuestras redes sociales</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                            class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                            class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4 text-primary">Nuestro contato</h4>
                    <p class="lead mb-0">
                      <i class="fa-solid fa-phone"></i> contraloria@gmail.com
                       <br>
                       <i class="fa-solid fa-envelope"></i> +254127856324
                       <br>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Contraloria Estado Portuguesa 2024</small></div>
    </div>


    {{!-- modal user --}}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


      <form id="form-user" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Maicol Mena">
        </div>
         <div class="mb-3">
        <label for="images" class="form-label">Imagen</label>
        <input type="file" class="form-control" id="imagenUser" name="imagenUser">
        </div>
        <div class="mb-3">
        <label for="descrip" class="form-label">Descripción</label>
        <textarea class="form-control" id="descrip" name="descrip" rows="3" placeholder="Maicol es un desarrollador web..."></textarea>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary">agregar</button>
      </div>
      </form>


      </div>
      
    </div>
  </div>
</div>

   {{!-- modal images --}}
<div class="modal fade" id="staticBackdropImages" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form-img" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="images" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="images" name="images">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



    {{!-- modal noticias --}}
<div class="modal fade" id="staticBackdropNoticies" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


      <form id="form-noticias" enctype="multipart/form-data">

        <div class="mb-3">
        <label for="tituloOne" class="form-label">Titulo 1</label>
        <input type="text" class="form-control" id="tituloOne" name="tituloOne" placeholder="Maicol Mena" disabled>
        </div>
  
        <div class="mb-3">
        <label for="descripOne" class="form-label">Descripción 1</label>
        <textarea  class="form-control" id="descripOne" name="descripOne" rows="3" placeholder="Maicol es un desarrollador web..."></textarea>
        </div>

        <hr class="divider">

        <div class="mb-3">
        <label for="tituloTwe" class="form-label">Titulo 2</label>
        <input type="text" class="form-control" id="tituloTwe" name="tituloTwe" placeholder="Maicol Mena">
        </div>
  
        <div class="mb-3">
        <label for="descripTwe" class="form-label">Descripción 2</label>
        <textarea class="form-control" id="descripTwe" name="descripTwe" rows="3" placeholder="Maicol es un desarrollador web..."></textarea>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary">agregar</button>
      </div>
      </form>


      </div>
      
    </div>
  </div>
</div>

 
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="js/scripts.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
    {{!-- eliminar cumpleañero --}}
    <script>
  document.addEventListener('DOMContentLoaded', function() {
    document.addEventListener('click', function(event) {
      if (event.target && event.target.classList.contains('btn-close-user')) {
        const card = event.target.closest('.user-cumple');
        const cardId = card.getAttribute('data-id');

        Swal.fire({
          title: '¿Estás seguro?',
          text: 'Esta acción no se puede deshacer',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            fetch('/eliminar/card', {
              method: 'POST',
              body: JSON.stringify({ id: cardId }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => response.json())
            .then(data => {
              if (data.status === 'success') {
                Swal.fire({
                  title: "¡Eliminado!",
                  text: "La tarjeta se ha eliminado correctamente",
                  icon: "success",
                  showCancelButton: false,
                  showConfirmButton: false
                });
                // Eliminar la tarjeta del DOM
                card.remove();

                // Cerrar la alerta después de 1.5 segundos
                setTimeout(() => {
                  Swal.close();
                }, 1500);
              }
            })
            .catch(error => {
              console.log(error);
            });
            console.log('Elemento eliminado');
          } else {
            console.log('Cancelado');
          }
        });
      }
    });
  });
    </script>
    {{!-- eliminar imagen about --}}
    <script>
  document.addEventListener('DOMContentLoaded', function() {
    document.addEventListener('click', function(event) {
      if (event.target && event.target.classList.contains('btn-close-img')) {
        const card = event.target.closest('.images');
        const cardId = card.getAttribute('data-id');

        Swal.fire({
          title: '¿Estás seguro?',
          text: 'Esta acción no se puede deshacer',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            fetch('/eliminar/images', {
              method: 'POST',
              body: JSON.stringify({ id: cardId }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => response.json())
            .then(data => {
              if (data.status === 'success') {
                Swal.fire({
                  title: "¡Eliminado!",
                  text: "La tarjeta se ha eliminado correctamente",
                  icon: "success",
                  showCancelButton: false,
                  showConfirmButton: false
                });
                // Eliminar la tarjeta del DOM
                card.remove();

                // Cerrar la alerta después de 1.5 segundos
                setTimeout(() => {
                  Swal.close();
                }, 1500);
              }
            })
            .catch(error => {
              console.log(error);
            });
            console.log('Elemento eliminado');
          } else {
            console.log('Cancelado');
          }
        });
      }
    });
  });
    </script>
    {{!-- Agregar cumpleañero --}}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    const formulario = document.getElementById('form-user');
    const nombreInput = document.getElementById('nombre');
    const imageInput = document.getElementById('imagenUser');
    const descrip = document.getElementById('descrip');

    formulario.addEventListener('submit', function(event) {
        event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada

        const formData = new FormData(formulario); // Crea un objeto FormData con los datos del formulario

        fetch('/users', {
            method: 'POST',
            body: formData // Envía los datos del formulario como FormData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                Swal.fire({
                    title: "Agregado!",
                    text: "Se agregó un nuevo cumpleaños",
                    icon: "success"
                }).then(() => {
    // Cerrar la ventana modal después de mostrar la alerta
    nombreInput.value = "";
    imageInput.value = "";
    descrip.value = "";
    $('#staticBackdrop').modal('hide');

    // Construir el HTML para el nuevo cumpleañero
    const newCumpleaneroHTML = `
        <div class="col-lg-4 user-cumple" data-id="${data.newCumpleanero.id}">
            <a class=" btn-close p-3 btn-close-user" style="cursor: pointer;"></a>

            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" width="210" src="data:image/jpeg;base64,${data.newCumpleanero.imagen_base64}" alt="imagen" />
                <h5>${data.newCumpleanero.nombre}</h5>
                <p class="font-weight-light mb-0">"${data.newCumpleanero.descripcion}"</p>
            </div>
        </div>
    `;

    // Agregar el nuevo cumpleañero al principio de la lista sin recargar la página
    $('.cumpleContainer').prepend(newCumpleaneroHTML);
});

            }else if(data.status === 'vacio'){
                    Swal.fire({
                    title: "Alerta!",
                    text: "Llene todos los campos",
                    icon: "info"
                    })
            }
        })
        .catch(error => {
            console.error('Error al enviar el formulario:', error);
            // Puedes mostrar un mensaje de error al usuario si la solicitud falla
        });
    });
});

    </script>
    {{!-- Agregar imagen --}}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    const formulario = document.getElementById('form-img');
    const imageInput = document.getElementById('images');


    formulario.addEventListener('submit', function(event) {
        event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada

        const formData = new FormData(formulario); // Crea un objeto FormData con los datos del formulario

        fetch('/images', {
            method: 'POST',
            body: formData // Envía los datos del formulario como FormData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                Swal.fire({
                    title: "Agregado!",
                    text: "Se agregó un nuevo cumpleaños",
                    icon: "success"
                }).then(() => {
                    // Construir el HTML para el nuevo cumpleañero
                    const newImageHTML = `
                        <div class="col-lg-6 images " data-id="${data.newImage.id}">
                            <a class="btn-close p-3 btn-close-img" style="cursor: pointer;"></a>
                            <div class="position-relative mb-5">
                                <img class="img-fluid  mb-3 images-home rounded"
                                    src="data:image/jpeg;base64,${data.newImage.imagen_base64}" alt="imagen"/>
                                <p class="h3 fw-bolder text-decoration-none link-dark stretched-link">Project name</p>
                            </div>
                        </div>
                    `;
                    // Agregar el nuevo cumpleañero al principio de la lista sin recargar la página
                    $('.imageContainer').prepend(newImageHTML);
                    imageInput.value = "";
                    $('#staticBackdropImages').modal('hide');
                   
                });
            } else if(data.status === 'vacio') {
                Swal.fire({
                    title: "Alerta!",
                    text: "Llene todos los campos",
                    icon: "info"
                });
            }
        })
        .catch(error => {
            console.log('Error al enviar el formulario:', error);
            // Puedes mostrar un mensaje de error al usuario si la solicitud falla
        });
    });
});
    </script>
     {{!-- Agregar noticias --}}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    const formulario = document.getElementById('form-noticias');
    const nombreInputOne = document.getElementById('nombreOne');
    const descripOne = document.getElementById('descripOne');
    const nombreInputTwe = document.getElementById('nombreTwe');
    const descripTwe = document.getElementById('descripTwe');

    formulario.addEventListener('submit', function(event) {
        event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada

        const formData = new FormData(formulario); // Crea un objeto FormData con los datos del formulario

        fetch('/noticias', {
              method: 'POST',
              body: JSON.stringify({ id: cardId }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                Swal.fire({
                    title: "Agregado!",
                    text: "Se agregó un nuevo cumpleaños",
                    icon: "success"
                }).then(() => {
    // Cerrar la ventana modal después de mostrar la alerta
   nombreInputOne.value = "";
   descripOne.value = "";
   nombreInputTwe.value = "";
   descripTwe.value = "";
    $('#staticBackdropNoticies').modal('hide');

    // Construir el HTML para el nuevo cumpleañero
    const newCumpleaneroHTML = `
        
    `;

    // Agregar el nuevo cumpleañero al principio de la lista sin recargar la página
    $('.noticiasContainer').prepend(newCumpleaneroHTML);
});

            }else if(data.status === 'vacio'){
                    Swal.fire({
                    title: "Alerta!",
                    text: "Llene todos los campos",
                    icon: "info"
                    })
            }
        })
        .catch(error => {
            console.error('Error al enviar el formulario:', error);
            // Puedes mostrar un mensaje de error al usuario si la solicitud falla
        });
    });
});

    </script>
</body>

</html>