<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Freelancer - Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/style.css" rel="stylesheet" />
</head>
<style>
    .inicio {
        background: #1abc9c;
    }
    body{
        background: rgb(245,245,245);
    }
</style>
<body id="page-top">
  
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo-contraloria.png" alt="Bootstrap" width="60" height="54">
                    <a class="navbar-brand" href="#page-top">CONTRALORIA </a>
                </a>
            </div>


            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1 inicio rounded"><a class="nav-link py-3 px-0 px-lg-3 text-center"
                            href="/">inicio</a></li>
                    <!--  -->

                    <li class="nav-item mx-0 mx-lg-1 dropdown mt-2">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Más</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/aac">Atencion al ciudadano</a></li>
                            <li><a class="dropdown-item" href="/galery">Galeria de fotografias</a></li>
                            {{#if admin}}
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar usuario</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/cerrar">Cerrar sesión</a></li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

 <main class="flex-shrink-0">
            <!-- Page Content-->
            <section class="py-5 mt-5">
                <div class="container">
         <div class="row">
            <div class="col-lg-12 text-center mt-5 my-2 mb-5">
                <h4>FOTOGRAFIAS DE LOS CUMPLEAÑEROS DEL DESTADO PORTUGUESA</h4>
            </div>
         </div>
      
        <div class="cumpleContainer container col-md-12 row mt-5 d-flex justify-content-center ">
        {{!-- ============================================= --}}
    {{#if admin}}
    {{#each imagen}}
    <div class="card col-md-3 m-1 shadow p-3 mb-5 bg-body-tertiary rounded" 
    style="width: 18rem;" data-id="{{this.id}}" >

            <img src="data:image/jpeg;base64,{{imagen_base64}}" alt="imagen"  class="card-img-top images-home" >
        <div class="card-body">
            <p class="card-title fw-bold">{{nombre}}</p>
            <p class="card-text ">{{descripcion}}</p>
            <a class="btn btn-danger eliminar-btn">eliminar</a>
            {{!-- <a href="/eliminar/card/users/{{this.id}}" class="btn btn-danger">Eliminar</a> --}}
        </div>
    </div>

    {{/each}}
    {{else}}
     {{#each imagen}}
    <div class="card col-md-3 m-1 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
        <img src="data:image/jpeg;base64,{{imagen_base64}}" alt="imagen"  class="card-img-top p-1">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">{{nombre}}</h5>
            <p class="card-text">"{{descripcion}}"</p>
        </div>
    </div>
    {{/each}}
    {{/if}}
    </div>

    <!-- Navigation-->
      </div>
         </section>
        </main>

            {{!-- modal user --}}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar nuevo cumpleañero</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


      <form id="form-user" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Maicol Mena">
        </div>
         <div class="mb-3">
        <label for="images" class="form-label">Imagen</label>
        <input type="file" class="form-control" id="imagenUser" name="imagenUser">
        </div>
        <div class="mb-3">
        <label for="descrip" class="form-label">Descripción</label>
        <textarea class="form-control" id="descrip" name="descrip" rows="3" placeholder="Maicol es un desarrollador web..."></textarea>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary">agregar</button>
      </div>
      </form>


      </div>
      
    </div>
  </div>
</div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="js/scripts.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        {{!-- cumpleañero --}}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
       document.addEventListener('click', function(event) {
      if (event.target && event.target.classList.contains('eliminar-btn')) {
        const card = event.target.closest('.card');
        const cardId = card.getAttribute('data-id');

        Swal.fire({
          title: '¿Estás seguro?',
          text: 'Esta acción no se puede deshacer',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            fetch('/eliminar/card/galery', {
              method: 'POST',
              body: JSON.stringify({ id: cardId }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => response.json())
            .then(data => {
              if (data.status === 'success') {
                Swal.fire({
                  title: "¡Eliminado!",
                  text: "La tarjeta se ha eliminado correctamente",
                  icon: "success",
                  showCancelButton: false,
                  showConfirmButton: false
                });
                 // Eliminar la tarjeta del DOM
                

                // Cerrar la alerta después de 1.5 segundos
                setTimeout(() => {
                  card.remove();
                  Swal.close();
                }, 1500);
              }
            })
            .catch(error => {
              console.log(error);
            });
            console.log('Elemento eliminado');
          } else {
            console.log('Cancelado');
          }
        });
      }
    });

    const formulario = document.getElementById('form-user');
    const nombreInput = document.getElementById('nombre');
    const imageInput = document.getElementById('imagenUser');
    const descrip = document.getElementById('descrip');

    formulario.addEventListener('submit', function(event) {
        event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada

        const formData = new FormData(formulario); // Crea un objeto FormData con los datos del formulario

        fetch('/users', {
            method: 'POST',
            body: formData // Envía los datos del formulario como FormData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                Swal.fire({
                    title: "Agregado!",
                    text: "Se agregó un nuevo cumpleaños",
                    icon: "success"
                }).then(() => {
                    // Cerrar la ventana modal después de mostrar la alerta
                    nombreInput.value = "";
                    imageInput.value = "";
                    descrip.value = "";
                    $('#staticBackdrop').modal('hide');

                    // Construir el HTML para el nuevo cumpleañero
                          const newUsuarioHTML = `
                      <div class="card col-md-3 m-1 shadow p-3 mb-5 bg-body-tertiary rounded" 
                          style="width: 18rem;" data-id="${data.newUsuario.id}">
                          <img src="data:image/jpeg;base64,${data.newUsuario.imagen_base64}" alt="imagen" class="card-img-top images-home">
                          <div class="card-body">
                              <p class="card-title fw-bold">${data.newUsuario.nombre}</p>
                              <p class="card-text">${data.newUsuario.descripcion}</p>
                              <a class="btn btn-danger eliminar-btn">eliminar</a>
                          </div>
                      </div>
                  `;
                  $('.cumpleContainer').prepend(newUsuarioHTML);
                });
            } else if (data.status === 'vacio') {
                Swal.fire({
                    title: "Alerta!",
                    text: "Llene todos los campos",
                    icon: "info"
                });
            }
        })
        .catch(error => {
            console.error('Error al enviar el formulario:', error);
            // Puedes mostrar un mensaje de error al usuario si la solicitud falla
        });
    });
});
    </script>
</body>

</html>